<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Catalogue - Movies</title>
  <link rel="stylesheet" href="/static/css/styles-movies.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header>
    <h1>Movie Catalogue</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/watchlist">Watchlist</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/search">Search Movies</a></li>
    </ul>
  </nav>

  <main>
    <section>
     <h2>Top Rated Movies</h2>
     <ul id="top-rated-list" class="top-rated-list"></ul>
    </section>
	<section>
	 <h3>Upcoming Movies</h3>
	 <ul id="upcoming-list" class="upcoming-list"</ul>
	</section>
	<section>
      <h4>Popular Movies</h4>
	  <ul id="movie-list" class="movie-list"></ul>
	</section>
  </main>

  <footer>
	  <div class="social-icons">
  <a href="https://www.linkedin.com/in/ifeanyichukwu-izuegbu-4b5362104/" target="_blank" rel="noopener">
    <i class="fab fa-linkedin"></i>
  </a>

  <a href="https://twitter.com/Ifeconastar_" target="_blank" rel="noopener">
    <i class="fab fa-twitter"></i>
  </a>
  </div>
  <p>&copy; 2023 Movie Catalogue. All rights reserved.</p>
  </footer>

  <script src="/static/js/main.js"></script>
  <script src="/static/js/toprated1.js"></script>
  <script src="/static/js/upcoming1.js"></script>
  <script src="/static/js/your-script1.js"></script>
</body>
</html>

